.header {
  height: 60px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;

  .title {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
    font-family: sans-serif;
  }

  .avatar {
    margin-right: 10px;

    img {
      border-radius: 50%;
      border: 1px solid #eeeeee;
    }
  }
}
